@mixin nav-responsive-large {
    @media screen and (min-width: 690px) {
        @content
    }
};

@mixin nav-responsive-small {
    @media screen and (max-width: 690px) {
        @content
    }
};

@mixin about-wrap {
    @media screen and (max-width: 690px) {
        flex-wrap: wrap-reverse;
    }
};

@mixin carousel-middle {
    @media screen and (max-width: 920px) {
        @content
    }
};

@mixin title-format {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;

    h2 {
        font-size: $title-size;
        font-weight: bold;
    }

    .line {
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
};